:root {
  --m3-back: #ffd9de;

  --m3-primary: #bc0049;
  --m3-on-primary: #ffffff;
  --m3-primary-container: #ffd9df;
  --m3-on-primary-container: #400013;
  --m3-secondary: #76565b;
  --m3-on-secondary: #ffffff;
  --m3-secondary-container: #ffd9de;
  --m3-on-secondary-container: #2b1519;
  --m3-tertiary: #795831;
  --m3-on-tertiary: #ffffff;
  --m3-tertiary-container: #ffddb8;
  --m3-on-tertiary-container: #2c1700;
  --m3-error: #ba1b1b;
  --m3-on-error: #ffffff;
  --m3-error-container: #ffdad4;
  --m3-on-error-container: #410001;
  --m3-background: #fcfcfc;
  --m3-on-background: #201a1b;
  --m3-surface: #fcfcfc;
  --m3-on-surface: #201a1b;
  --m3-inverse-surface: #362f30;
  --m3-inverse-on-surface: #faeeee;
  --m3-inverse-primary: #ffb2c0;
  --m3-surface-variant: #f4dddf;
  --m3-on-surface-variant: #524345;
  --m3-outline: #847375;
  --m3-shadow: #000000;
}
