:root {
  --m3-back: #43292d;

  --m3-primary: #ffb2c0;
  --m3-on-primary: #670024;
  --m3-primary-container: #900036;
  --m3-on-primary-container: #ffd9df;
  --m3-secondary: #e5bdc2;
  --m3-on-secondary: #43292d;
  --m3-secondary-container: #5c3f43;
  --m3-on-secondary-container: #ffd9de;
  --m3-tertiary: #ebbf90;
  --m3-on-tertiary: #452b08;
  --m3-tertiary-container: #5f411c;
  --m3-on-tertiary-container: #ffddb8;
  --m3-error: #ffb4a9;
  --m3-on-error: #680003;
  --m3-error-container: #930006;
  --m3-on-error-container: #ffb4a9;
  --m3-background: #201a1b;
  --m3-on-background: #ece0e0;
  --m3-surface: #201a1b;
  --m3-on-surface: #ece0e0;
  --m3-inverse-surface: #ece0e0;
  --m3-inverse-on-surface: #362f30;
  --m3-inverse-primary: #bc0049;
  --m3-surface-variant: #524345;
  --m3-on-surface-variant: #d6c1c3;
  --m3-outline: #9f8c8e;
  --m3-shadow: #000000;
}
